@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

body{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.sec-1{
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    flex: 1;
    justify-content: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
    color: #F9FAF8;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.links{
    display: flex;
    list-style: none;
    justify-self: flex-end;
    gap: 15px;
}

.site-info{
    display: flex;
    width: auto;
    height: 300px;
    gap: 100px;
    
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 500px;
    flex: 1;
}

.desc-title{
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 0;
}

.desc-info{
    color: #E5E7EB;
    font-size: 18px;
}

.desc-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    background-color: gray;
    color: #F9FAF8;
    flex: 1;
}

.sign-up{
    width: 75px;
    height: 30px;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: #F9FAF8;
}

.sec-2{
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.h-text{
    margin-top: 45px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 40px;
}

.card-container{
    display: flex;
    height: 300px;
    gap: 25px;
}

.card{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 280px;
    width: 210px;
    text-align: center;
}

.card-img{
    border: 5px solid #3882F6;
    border-radius: 8px;
    height: 200px;
    width: 200px;
}

.sec-3{
    padding: 200px 500px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.person{
    font-weight: bold;
    margin-left: auto;
    margin-right: 80px;
}

.sec-4{
    padding: 200px 500px;
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    flex: 1;
    justify-content: center;
    align-items: center;
}
